[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

pytesseract = "==0.2.*"
selenium = "==3.12.*"
pyvirtualdisplay = "==0.2.*"
python-dotenv = "==0.8.*"


[requires]

python_version = "3.6"
